*.prefs
lib/
target/
.classpath
.DS_Store
.flattened-pom.xml
.factorypath
.project
.rebel-remote.xml
.rebel-remote.xml.bak
.rebel.xml.bak
.settings
.springBeans
.sts4-cache
.apt_generated
logs
*.log
bin/
classes/
cached-antora-playbook.yml
/dist/
.vscode/
.gradle
build/
